* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: Time Roman;
  height: 100px;
}
/*contenedor*/

.contenedor{
  height: 900px;
  width: 100%;
  margin: auto;
}
/*Barra de navegacion*/
.menu_bar {
  display:none;
}

header {
  width: 100%;
}
header .logo {
  float:left;
  padding:5px 60px; 
}
.logo h1{
text-align: right;
float: right;
padding-left: 80px;
font-family: "Sketch 3D";
position: absolute;
font-size: 4em;
}
.logo img {
  width: 80px;
  
}

/*Cudro del fodon donde se encuentra el logo y los inicios*/
header nav {
  background:#20B2AA;
  z-index:1000;
  max-width: 1000%;
  width:100%;
  height: 100px;
  

}
header nav a {
  display:inline-block;
  color:#fff;
  text-decoration:none;
  padding:20px 20px;
  line-height:normal;
  font-weight:bold;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;

}
header nav ul {
  list-style:none;

}
 
header nav ul li {
  display:inline-block;
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  padding: 15px;
}
 
header nav ul li a:hover {
  background:#f56f3a;
  border-radius:50px;


}
 
header nav ul li a {
  color:#fff;
  display:block;
  text-decoration:none;
  padding: 10px;


}
 
header nav ul li a span {
  margin-right:15px;
  margin-top:0px;
}
 /*menu oculto*/
header nav ul li:hover .children {
  display:block;
}
 
header nav ul li .children {
  display: none;
  background:#011826;
  position: absolute;
  width: 150%;
  z-index:1000;
}
 
header nav ul li .children li {
  display:block;
  overflow: hidden;
  border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .children li a {
  display: block;
}
 
header nav ul li .children li a span {
  float: right;
  position: relative;
  top:3px;
  margin-right:0;
  margin-left:10px;
}
 
header nav ul li .caret {
  position: relative;
  top:3px;
  margin-left:10px;
  margin-right:0px;

}
 
@media screen and (max-width:900px) {
  .contenedor{
    margin-top: 70px;
  }
 
  .menu_bar {
    display:block;
    width:100%;
    position: fixed;
    top:0;
    background:#E6344A;
    z-index: 100;

  }
 
  .menu_bar .bt-menu {
    display: block;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    
  }
 
  .menu_bar span {
    float: right;
    font-size: 40px;
  }
 
  header nav {
    width: 80%;
    height: calc(100% - 80px);
    position: fixed;
    right:100%;
    margin: 0;
    overflow: scroll;
  }
 
  header nav ul li {
    display: block;
    border-bottom:2px solid rgba(255,255,255,.5);
  }
 
  header nav ul li a {
    display: block;
  }
 
  header nav ul li:hover .children {
    display: none;
  }
 
  header nav ul li .children {
    width: 100%;
    position: relative;
  }
 
  header nav ul li .children li a {
    margin-left:20px;
  }
 
  header nav ul li .caret {
    float: right;
  }
}
/*carrucel*/
.ws_script{
  position:absolute;
  left:-99%;

}

@media only screen and (max-width:800px) {
  /* para telefonos moviles: */
  .ws_sript, .ws_script,img{
    width:100%;
  }
}
/*imagenes carrucel*/
.ws_images img{
  width: 100%;
  height: 900px;
}
.ws_bullets img{
  width: 100px;
  height: 55px;
}
p{
  padding-left: 40px;
  text-align: left;
  
}
/*pie de pagina*/
footer{
background-color:#20B2AA;
text-align:center;
padding:10px;
margin-top:7px;

}
footer h2{

font-family: Time Roman;
}
